.about-dots {
  left: calc(((100vw - 1024px)/2) - 144px);
  top: 64px;
}

.cta-dots {
  right: 64px;
  top: 64px;
}

section.form form.submitted, section.hero form.submitted {
  display: none;
}

section.form .form-feedback, section.hero .form-feedback {
  display: none;
}

section.form .form-feedback.submitted, section.hero .form-feedback.submitted {
  display: block;
}

.hero .hero-content {
  margin-top: -500px;
}


.form .message {
  display: none;
}

.form.submitted input, form.submitted button, form.submitted .cta-input-wrapper {
  display: none;
}

.form.submitted .message {
  display: block;
}

.border-grey-24 {
  border-color: rgba(0, 0, 0, 0.24);
}

@media screen and (max-width:1024px) {
  .cta-dots {
    right: 24px;
    top: 24px;
  }
}