.about-dots {
  left: calc(((100vw - 1024px)/2) - 144px);
  top: 64px;
}

.cta-dots {
  right: 64px;
  top: 64px;
}

section.form form.submitted {
  display: none;
}

section.form .form-feedback {
  display: none;
}

section.form .form-feedback.submitted {
  display: block;
}


@media screen and (max-width:1024px) {
  .cta-dots {
    right: 24px;
    top: 24px;
  }
}